@model Product

@{
    var categories = (IEnumerable<SelectListItem>)ViewData["categories"];
}

<div class="row">
    <div class="col-12 mb-3">
        <h2><a href="/Product/Index"><i class="bi bi-arrow-left"></i></a> Create New Product</h2>
    </div>
</div>

<div class="row">
    <form action="/Product/Create" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleProductName" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="exampleProductName" name="Name" value="@Model.Name">
            <span asp-validation-for="@Model.Name" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label for="exampleProductDescription" class="form-label">Product Description</label>
            <input type="text" class="form-control" id="exampleProductDescription" name="Description" value="@Model.Description">
            <span asp-validation-for="@Model.Description" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label for="exampleProductPrice" class="form-label">Product Price</label>
            <input type="number" class="form-control" id="exampleProductPrice" name="Price" value="@Model.Price">
            <span asp-validation-for="@Model.Price" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <label for="exampleProductPhotoUrl" class="form-label">Product Photo</label>
            <input type="file" class="form-control" id="exampleProductPhotoUrl" name="PhotoUrl" accept="image/*" onchange="previewImage(event)" value="@Model.PhotoUrl">
            <span asp-validation-for="@Model.PhotoUrl" class="text-warning"></span>
        </div>
        <div class="mb-3">
            <!-- Image preview container -->
            <img id="imagePreview" src="~/temp/@Model.PhotoUrl" alt="Image Preview" style="display:none; width: 200px; height: auto;" />
        </div>
        <div class="mb-3">
            <label for="exampleProductCategoryId" class="form-label">Product CategoryId</label>
           @*  <input type="number" class="form-control" id="exampleProductCategoryId" name="CategoryId"> *@
            @* <select class="form-select" name="CategoryId">
                @foreach (var item in categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select> *@

            <select class="form-select" asp-for="CategoryId" asp-items="categories"></select>

            <span asp-validation-for="@Model.CategoryId" class="text-warning"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    function previewImage(event) {
        const reader = new FileReader();
        const imagePreview = document.getElementById('imagePreview');

        reader.onload = function(){
            imagePreview.src = reader.result;
            imagePreview.style.display = 'block'; // Show the image preview
        }

        if(event.target.files[0]) {
            reader.readAsDataURL(event.target.files[0]);
        } else {
            imagePreview.style.display = 'none'; // Hide the preview if no file is selected
        }
    }
</script>
